
.reverse {
    display: flex;
    flex-flow: column-reverse;
  }





.details {
    text-align: start{
    display: flex;

    }

    .detail{
        display: flex;
        align-items: center;    
        position: relative;   
     }
}

ion-icon{
    padding: 8px;
}

.center{
    
    align-items: center;
}

