ion-thumbnail {
    --size: 150px;
    --border-radius: 20%;
    margin:auto;
    }

ion-card-content{
    text-align: start;
}

ion-toolbar {
    --background: transparent;
    --border-color: transparent;
  }
  


