<ion-header class="ion-no-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="close" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Create an <br />Account</h1>

  <form (ngSubmit)="register()" [formGroup]="credentials" id="form">
    
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(f['email'].dirty || f['email'].touched) && f['email'].errors"></ion-note>
    </ion-item>
    <ion-item class="ion-margin-bottom" >
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">
        <ul>
          <li>La contraseña debe tener entre 6 y 10 caracteres.</li>
          <li>Al menos un dígito, al menos una minúscula y al menos una mayúscula.</li>
          <li>NO puede contener otros símbolos.</li>
        </ul>
      </ion-note>
    </ion-item>

    <ion-button expand="full" (click)="register()" [disabled]="!credentials.valid">Sign Up</ion-button>
    <p>By signing up, you agree with the <a>Terms of Service</a> and <a>Privacy Policy</a></p>
    <ion-button routerLink="/login" expand="full" type="button">Alredy have an account ?</ion-button>
  </form>

</ion-content>
